.toastMessage {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: darkcyan;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
    z-index: 9999;
  }
  .container-home{
display: flex;
flex-direction: column;
justify-content: center; 
align-items: center;
  }
  .user-id{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
    color: black;
    padding: 10px;
    width: 200px;
    
  }

  .user-id img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 10px;
    cursor: pointer;
  }

  #inputFile
  {
    display: none;
  }